*{
    margin:0;
    padding:0;
    font-family: sans-serif; /*keeping this here if i want to change : monospace*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
/*Review this text below*/

nav a{
    height: 100%;
    color: black;
    display: flex;
    padding: 0 0px;
    text-decoration: none;
    align-items: center;
}

nav li {

    list-style-type: none; /*This removes the list dots */
    
    padding: 10px;
    background-color: transparent;
    display: block;
    float: left;
    font-size: 30px;
    white-space: nowrap;
    text-decoration: none;
}

#sticky{
    position:fixed;
    top:0;
    width: 100%;
}

.slide1 {
    width: 100%;
    height: 100vh;
    display:flex;
    
    /*[align-items: center;]centers the text in the middle of the page with it removed its displayed in the middle at the top*/
    /*[justify-content:center;] removing this stops the nav bar from being in the middle */
    gap:10px;
    color:white;
    background-image: url('./pictures/image.jpg');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center ;
    align-items: center;
}

#text{
    font-size: 200%;
}


.slide2{
    width: 100%;
    height: 100vh;
    display:flex;
    
    background-image: url('./pictures/testGrey.jpg');

    /*[align-items: center;]centers the text in the middle of the page with it removed its displayed in the middle at the top*/
    /*[justify-content:center;] removing this stops the nav bar from being in the middle */
    gap:10px;
    color:white;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
}

.slide3{
    width: 100%;
    height: 100vh;
    display:flex;
    
    background-image: url('./pictures/testGrey.jpg');

    /*[align-items: center;]centers the text in the middle of the page with it removed its displayed in the middle at the top*/
    /*[justify-content:center;] removing this stops the nav bar from being in the middle */
    gap:10px;
    color:white;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
}