*{
    margin:0;
    padding:0;
    font-family: sans-serif; /*keeping this here if i want to change : monospace*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*This the the whole html webpage making a change here will effect the whole page*/
html{
    scroll-behavior: smooth;
    background-color: black;
    color: white;
    min-width: 100vh;
    overflow-x: auto;
}
/*START OF NAV*/
nav{
    
    text-align: center;

    overflow: hidden;/*This remove the dots on the website*/
    
    margin: 0;
    padding:0;
    width: 100%;
    border-bottom: 2px solid black;/*line*/


}
nav li{
    float: left;
    display: inline-block;
    padding: 10px;
    border-bottom:10px, pink;
}
#support{
    float: right;
}
/*END OF NAV*/


.company_name{

    text-align: center;
    font-size: 60px;
}
.quote{
    text-align: center;
}
.slide-zero{
    width: 100%;
    height: 100vh;
    
    
    background-image: url("./pictures/cover-page.jpg");

    background-size: cover;       /* Optional: scales image to cover the element CHATGPT*/
    background-position: center;  /* Optional: centers the image CHATGPT*/
    background-repeat: no-repeat; /* Optional: prevents tiling CHATGPT*/
    
    
    
}
.inner-zero{
    width: 80%;
    height: 85vh;
    
    

    border-radius: 20px;/*changes the corners of the div*/
    

    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom:0; right: 0;/*Manually center the div couldn't make flex work*/
}
.inner-info{
    
    text-align:center;
    font-size:60px;
    
}
.space{
    height: 50%;
    text-align: center;
    font-size: 20px;
}
.box{
    border-radius: 30px;
    border:1px, white , solid;
    display: table-cell;
    width:500px;
    bottom:0;
    text-align: center;
}
.slide-one{
    width: 100%;
    height: 100vh;/*this takes up the whole page*/
}
.welcome{
    border: 10px,pink,solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    
}

.goal{
    
}
