*{
    margin:0;
    padding:0;
    font-family: sans-serif; /*keeping this here if i want to change : monospace*/
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
/*Review this text below*/
/*.logo{
    padding: 0 0px;
    background-color: transparent;
    float: left;
    background-color: blue;
    font-size: 30px;
    padding-left: 10px;
    
}*/
nav {
    /*display: flex;*/ /*removing this moves the nav to the front*/
    justify-content: center; /* This centers the nav */
    
}

nav a{
    /*background-color: pink;*/
    height: 100%;
    padding: 0 30px;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;/*removes the hyperlink link line*/
    align-items: center;/*keeping things in the nav*/
    justify-content: center;
    
}


nav ul li {
    background-color: grey;
    list-style-type: none; /*This removes the list dots */
    
    /*background-color: #0009;*/
    display: inline-block;
    font-size: 50px;
    white-space: nowrap;
    text-decoration: none;
    

}



nav ul li :hover {
    background-color: lightblue;
    color:black;
    border-radius: 30px 30px 30px 30px;
    
}






#sticky{
    position:fixed;
    top:0;
    width: 100%;
    z-index: 999;
}

.slide1 {
    width: 100%;
    height: 100vh;
    display:flex;
    
    /*[align-items: center;]centers the text in the middle of the page with it removed its displayed in the middle at the top*/
    /*[justify-content:center;] removing this stops the nav bar from being in the middle */
    gap:10px;
    color:white;
    background-image: url('./pictures/sword.png');
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content:center ;
    align-items: center;
}

#text{
    font-size: 200%;
}


.slide2{
    width: 100%;
    height: 100vh;
    display:flex;
    
    background-image: url('./pictures/blackWallpaper.jpg');

    /*[align-items: center;]centers the text in the middle of the page with it removed its displayed in the middle at the top*/
    /*[justify-content:center;] removing this stops the nav bar from being in the middle */
    gap:10px;
    color:white;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
}
.pro_test{
    background-color: #03d3fc;
    height: 800px;
    width: 600px;
    position: relative;
    float: fixed;
    right:-10%;
    bottom:-10%;
    z-index: 3;/*higher the number closer to the foreground*/
    border-radius: 30px 20px 40px 70px;
    white-space: pre-line;/*prevents text from over flow and break the text so it donesnt leave the div*/

}

.csunAP {
    display:inline-block;
    background-color: hotpink;
    height: 200px;
    width: 800px;
    position: relative;
    float: fixed;
    right:-120%;
    bottom:67.7%;
    z-index: 2;
    border-radius: 20px 40px 20px 40px;
    white-space: pre-line;
}
.slide3{
    width: 100%;
    height: 100vh;
    display:flex;
    
    background-image: url('./pictures/testGrey.jpg');

    /*[align-items: center;]centers the text in the middle of the page with it removed its displayed in the middle at the top*/
    /*[justify-content:center;] removing this stops the nav bar from being in the middle */
    gap:10px;
    color:white;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
}

.slide4{
    width: 100%;
    height: 100vh;
    display:flex;

    background-image: url('./pictures/testGrey.jpg');

    /*[align-items: center;]centers the text in the middle of the page with it removed its displayed in the middle at the top*/
    /*[justify-content:center;] removing this stops the nav bar from being in the middle */
    gap:10px;
    color:white;
    background-size: cover;
    background-repeat:no-repeat;
    background-size: cover;
}